body{
    background: rgb(230, 230, 230);
    font-family: 'Tapestry', cursive;
}

#flider{
   height:600px;
   
   
}
#flider2{
    height:600px;
   
    
 }
 #flider3{
    height:1000px;
   
    
 }
 
#title{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Tapestry', cursive;
}

@media only screen and (max-width: 574px) {
#slider{

    height: 200px;;
}

}